body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem;
  text-align: center;
}

.header-heading {
  color: #5454d4;
  font-weight: 500;
}

.container {
  padding: 0rem 1rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

label {
  display: block;
  font-size: 1.2rem;
}

input {
  display: block;
  margin: 1rem auto;
  border: solid 2px #5454d4;
  width: 60%;
  height: 4vh;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
}

button {
  display: block;
  margin: auto;
  background-color: #5454d4;
  border-radius: 0.5rem;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
}

#output-heading {
  color: #5454d4;
  font-weight: 500;
}
table {
  border: 2px solid #5454d4;
  margin: auto;
  width: 80%;
}
td {
  border: 2px solid #5454d4;
}
th {
  border: 2px solid #5454d4;
}

.error-message {
  color: red;
  padding: 0.5rem;
}
